doctype html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd"
html(xmlns="http://www.w3.org/1999/xhtml", lang="en-US")
    head
        title= title
        meta(content='text/html; charset=utf-8', http-equiv='Content-Type')
        meta(content='width=device-width,initial-scale=1.0', name='viewport')
        meta(content='Capstone Project', name='description')
        meta(content='#1e88e5', name='theme-color')
        link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Roboto:300,400')
        link(rel='stylesheet', href='/css/login.css')
    body
        img(class="floating-logo", src="/imgs/logos/a_min.png")
        div(class="center-content")
            p(class="signin-prompt") Sign in With
            a(class="oauth-button", id="google-signin", href="/login/google") 
                img(class="oauth-button-logo", src="/imgs/logos/google.png")
                p(class="oauth-name") Google